<div class="home-card">
    <h1 style="font-weight: bold; text-align: center">API Hub</h1>
    <p>This is the homepage for my API Exploring / Documenting application!</p>
    <p>
        To start exploring your API, please register an account or
        login. Then head to Explore APIs tab and enter your github repository link.
    </p>
</div>