<div  class="login-card">
  <form enctype="multipart/form-data">
    <div class="form-group">
      <label for="apiURL" style="font-weight: bold;">Input Github URL</label>
      <input type="url" autocomplete="off" v-model="apiURL" id="apiURL"/>
    </div>
    <div class="button-group">
      <button @click="submitURL(apiURL)" type="submit">Submit</button>
    </div>
  </form>
</div>
